$cart-size: 16px;
$gap: 0;
$swym-fill-color: #fff;
$swym-fill-checked: #2F4ABC;
$clr-white: #fff;
$search-header-gap: 10px;

$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-30: 30px;
$fs-32: 32px;

$lh-12: 12px;
$lh-15: 15px;
$lh-17: 17px;
$lh-18: 18px;
$lh-20: 20px;
$lh-23: 23px;
$lh-32: 32px;
$lh-36: 36px;
$lh-56: 56px;

$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;