$cart-size: 16px;
$gap : 0;
$clr-white: #fff;
$clr-blue: #2F4ABC;

$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-30: 30px;
$fs-32: 32px;

$lh-12: 12px;
$lh-15: 15px;
$lh-17: 17px;
$lh-18: 18px;
$lh-20: 20px;
$lh-23: 23px;
$lh-32: 32px;
$lh-36: 36px;
$lh-56: 56px;