// header
$cart-size: 16px;
$gap : 0;

// collection-filter
$filter-size: 14px;
$filter-inner-size: 12px;

@mixin svg-icon {
  width: $filter-size;
  height: $filter-size;

  & > * {
    width: $filter-inner-size;
    height: $filter-inner-size;
    position: relative;
    top: -1px;
  }
}

@mixin facet-button {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 18px;

  .svg-wrapper {
    @include svg-icon;

    & > * {
      fill: #fff;
      stroke: #CBC9C9;
    }
  }
}

@mixin column-picker-base {
  color: #CBC9C9;

  &:hover {
    color: #000;
    stroke: #000;
  }
}

@mixin column-picker-active {
  background-color: unset;
  color: #000;

  & > svg > * {
    fill-rule: nonzero;
    stroke: none;
    fill: currentColor;
  }
}