// header
$cart-size: 16px;
$gap : 0;


.slideshow-controls__dots .button {
  --color: rgb(var(--color-foreground-rgb) / var(--opacity-30));
  --color-active: var(--color-foreground);
  --color-hover: rgb(var(--color-foreground-rgb) / var(--opacity-50));
}

@mixin caret-rotate {
  transition: transform 0.4s ease;

  &[aria-expanded='true'] {
    .menu-list__caret {
      transform: rotate(180deg);
    }
  }
}

@mixin cart-drawer {
    width: 100%;
    height: 100%;

    cart-icon {
        display: flex;
        align-items: center;
        height: 100%;

        .svg-wrapper {
            width: $cart-size;
            height: $cart-size;
        }
    }
}

// collection-filter
$filter-size: 14px;
$filter-inner-size: 12px;

@mixin svg-icon {
  width: $filter-size;
  height: $filter-size;

  & > * {
    width: $filter-inner-size;
    height: $filter-inner-size;
    position: relative;
    top: -1px;
  }
}

@mixin facet-button {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 18px;

  .svg-wrapper {
    @include svg-icon;

    & > * {
      fill: #fff;
      stroke: #CBC9C9;
    }
  }
}

@mixin column-picker-base {
  color: #CBC9C9;

  &:hover {
    color: #000;
    stroke: #000;
  }
}

@mixin column-picker-active {
  background-color: unset;
  color: #000;

  & > svg > * {
    fill-rule: nonzero;
    stroke: none;
    fill: currentColor;
  }
}

@mixin add-to-cart-button {
  min-width: 30px;
  height: 30px;

  .add-to-cart-text {
      width: 100%;
  }

  .svg-wrapper svg {
      width: 16.1px;
      height: 19.6px;
  }
}

@mixin slideshow-controls-dots {
  .slideshow-controls__dots .button::after {
      box-shadow: inset 0 0 0 1.5px hsl(0 0% 0%);
      border-radius: 1px;
  }

  .slideshow-controls__dots .button[aria-selected="true"]::after {
      background-color: #000;
      border-radius: 1px;
  }
}

@mixin image-variant-picker {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  vertical-align: middle;

  .variant-option--buttons {
      gap: 5px;
  }

  .variant-option__button-label--has-swatch:has(:checked) {
      outline-offset: 0;
  }

  legend {
      font-weight: 700;

      .variant-option__swatch-value {
          font-weight: 400;
      }
  }

  &:has(.swatch--variant-image) {
    --variant-picker-swatch-width: 59px;
    --variant-picker-swatch-height: 74px;
  }
}

@mixin quantity-selector {
  --quantity-selector-width: 105px;
  --minimum-touch-target: 39.5px;
  border-radius: 5px;

  input {
      font-size: 12px;
  }
}

@mixin product-carousel-title {
  line-height: calc(var(--font-size) + 4px);

  @media screen and (min-width: 750px) {
    font-size: calc(var(--font-size) - 2px);
    line-height: var(--font-size);
  }
}