@use '../base/base.scss' as *;

.section:has(.accordion__custom) {
    --page-margin: 15px !important;

    .text-block:has(+ .accordion__custom) {
        p {
            line-height: calc(var(--font-size) + 4px);
            margin: 0;
        }
    }
}

.accordion__custom {
    display: flex;
    flex-direction: column;
    gap: $ca-accordion-gap;

    accordion-custom:first-child .details, accordion-custom:not(:first-child) .details {
        border-block-start: none !important;
    }

    accordion-custom:not(:last-child) .details {
        border-block-end: var(--style-border-width) solid var(--color-border);
    }

    summary.details__header {
        gap: $ca-summary-gap-sm;
        font-size: $fs-12;
        line-height: $lh-15;
        padding-block: $ca-summary-pbl-sm;
    }

    .svg-wrapper.icon-caret {
        width: $ca-icon-size-sm;
        height: $ca-icon-size-sm;
    }
}

@media screen and (min-width: 750px) {
    .section:has(.accordion__custom) {
        --page-margin: 50px !important;

        .text-block:has(+ .accordion__custom) {
            p {
                font-size: calc(var(--font-size) + 6px);
                line-height: calc(var(--font-size) + 9px);
            }
        }

        .section-content-wrapper {
            padding-block-start: calc(var(--padding-block-start) + 12px);
            padding-block-end: calc(var(--padding-block-end) + 14px);
            gap: max(10px, calc(var(--gap) - 1px));
        }
    }

    .accordion__custom {
        gap: $ca-accordion-gap;

        summary.details__header {
            gap: $ca-summary-gap-lg;
            font-size: $fs-16;
            line-height: $lh-20;
            padding-block: $ca-summary-pbl-lg;
        }

        .svg-wrapper.icon-caret {
            width: $ca-icon-size-lg;
        }
    }
}