@use '../base/base.scss' as *;

results-list.product-grid-container {
    --grid--margin--mobile: 0 14px;
        .facets-toggle__wrapper {
            padding: $cf-facet-pd;
            border: $cf-facet-border solid var(--color-border);
            margin-left: 0;
            position: relative;
            top: $cf-facet-offset-top;
            left: $cf-facet-offset-left;
            
            .facets-toggle__button {
                @include facet-button;
            }
        }

        .facets-mobile-wrapper {
            .column-options {
                gap: 0;
            }
            
            .column-picker {
                @include column-picker-base;
            }

            .column-options__option-input:checked ~ .column-picker {
                @include column-picker-active;
            }

            .svg-wrapper > * {
                fill: currentColor;
            }
    }
}

dialog.dialog-drawer {
    .facets {
        &__drawer-actions {
            padding-inline: var(--drawer-padding);

            &:not(:has(.facets__clear-all--active)) {
                gap: 0;
            }
        }

        &__title-wrapper {
            -webkit-padding-end: var(--drawer-padding);
                    padding-inline-end: var(--drawer-padding);
        }
    }

    .sorting-filter {
        &__container {
            padding-inline: var(--drawer-padding);
            -webkit-margin-end: 0;
                    margin-inline-end: 0;
        }

        &__select-wrapper {
            padding-inline: 0;
        }
    }
}

@media screen and (min-width: 750px) {
    results-list.product-grid-container {
        -webkit-padding-before: var(--padding-block-start-desktop);
                padding-block-start: var(--padding-block-start-desktop);
        -webkit-padding-after: var(--padding-block-end-desktop);
                padding-block-end: var(--padding-block-end-desktop);

        .facets-block-wrapper {
            margin: 0;
        }

        .facets__form {
            gap: $cf-gap-form;
        }

        .facets-toggle__wrapper {
            @include display-flex();
            left: 0;
        }

        .products-count-wrapper {
            opacity: 0;
        }

        .column-options-wrapper {
            align-self: center;

            .column-options {
                gap: 0;

                .column-options__option:hover .column-picker {
                    color: $cf-col-picker-clr;
                }
            }
            
            .column-picker {
                @include column-picker-base;
            }

            .column-options__option-input:checked ~ .column-picker {
                @include column-picker-active;
            }

            .svg-wrapper > * {
                fill: currentColor;
            }
        }

        sorting-filter-component.sorting-filter{
            align-self: center;

            .facets__summary {
                font-size: $fs-14;

                .facets__label {
                    line-height: $lh-17;
                    font-weight: bold;
                }
                
                .facets__status {
                    @include display-flex();
                    line-height: $lh-18;
                    text-transform: capitalize;
                    -webkit-margin-end: $cf-status-margin-end;
                            margin-inline-end: $cf-status-margin-end;
                }
            }
        }
    }
}