@use '../base/base.scss' as *;

.section:has(.accordion__custom) {
    --page-margin: 15px !important;

    .text-block:has(+ .accordion__custom) {
        p {
            margin: 0;
        }
    }
}

.accordion__custom {
    @include display-flex();
    flex-direction: column;
    gap: var(--gap);

    accordion-custom:first-child .details, accordion-custom:not(:first-child) .details {
        border-block-start: none !important;
    }

    accordion-custom:not(:last-child) .details {
        border-block-end: var(--style-border-width) solid var(--color-border);
    }

    summary.details__header {
        gap: $ca-summary-gap-sm;
        font-size: var(--font-size);
        line-height: var(--line-height);
        padding-block: $ca-summary-pbl-sm;
    }

    .svg-wrapper.icon-caret {
        width: $ca-icon-size-sm;
        height: $ca-icon-size-sm;
    }
}

@media screen and (min-width: 750px) {
    .section:has(.accordion__custom) {
        --page-margin: 50px !important;

        .section-content-wrapper {
            gap: var(--gap-desktop);
        }
    }

    .accordion__custom {
        gap: var(--gap-desktop);

        summary.details__header {
            gap: $ca-summary-gap-lg;
            font-size: var(--font-size-desktop);
            line-height: var(--line-height-desktop);
            padding-block: $ca-summary-pbl-lg;
        }

        .svg-wrapper.icon-caret {
            width: $ca-icon-size-lg;
        }
    }
}