@use '../base/base.scss' as *;

.group-block:has(.email-signup-block) {
    max-width: $esg-max-width-sm;

    .email-signup-block:has(.email-signup__heading--custom) {
        .email-signup__heading--custom {
            font-size: $fs-32;
            line-height: $lh-36;
            letter-spacing: 0;
            padding: $esg-heading-pad;
        }

        .email-signup__input {
            font-size: $fs-14;
            line-height: $lh-18;
            padding: $esg-input-pad;
        }

        .email-signup__button.email-signup__button--arrow {
            width: $esg-btn-size;
            height: 100%;
            margin: 0;
            position: relative;
            top: $esg-btn-top;
            right: $esg-btn-right;

            & > svg {
                width: $esg-btn-svg-w;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 749px) {
    footer {
        .section:has(.footer-content){
            --page-margin: 16px !important;
        }
    }
}

@media screen and (min-width: 750px) {
    footer {
        --page-margin: 50px !important;

        .group-block:has(.email-signup-block) {
            max-width: $esg-max-width-lg;
        }

        .footer-content {
            padding-block-start: max(20px, calc(var(--padding-block-start) - 3px));
        }

        .email-signup__heading--custom {
            font-size: $fs-30 !important;
            line-height: $lh-32 !important;
        }

        .email-signup__form {
            max-width: $esg-form-max;
        }
    }
}