@use '../base/base.scss' as *;

.group-block:has(.email-signup-block) {
    max-width: $esg-max-width-sm;

    .email-signup-block:has(.email-signup__heading--custom, .custom) {
        .email-signup__heading--custom {
            font-size: $fs-32;
            line-height: $lh-36;
            letter-spacing: 0;
            padding: $esg-heading-pad;
        }

        .email-signup__heading.custom {
            font-size: var(--custom-font-size);
            line-height: var(--line-height);
            letter-spacing: 0;
            padding: $esg-heading-pad;
        }

        .email-signup__input {
            font-size: $fs-14;
            line-height: $lh-18;
            padding: $esg-input-pad;
        }

        .email-signup__button.email-signup__button--arrow {
            width: $esg-btn-size;
            height: 100%;
            margin: 0;
            position: relative;
            top: $esg-btn-top;
            right: $esg-btn-right;

            & > svg {
                width: $esg-btn-svg-w;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 749px) {
    footer {
        .section:has(.footer-content){
            --page-margin: 16px;
        }
    }
}

@media screen and (min-width: 750px) {
    footer {
        --page-margin: 50px;

        .group-block:has(.email-signup-block) {
            max-width: $esg-max-width-lg;
        }

        .footer-content {
            padding-block: var(--padding-block-start-desktop) var(--padding-block-end-desktop);
        }

        .email-signup__form {
            max-width: $esg-form-max;
        }
    }

    .group-block:has(.email-signup-block) {
        .email-signup-block:has(.email-signup__heading--custom, .custom) {
            .email-signup__heading--custom {
                font-size: $fs-30;
                line-height: $lh-32;
            }

            .email-signup__heading.custom {
                font-size: var(--font-size-desktop);
                line-height: var(--line-height-desktop);
            } 
        }
    }
}