@use "../base/base.scss" as *;

.media-with-content {
    .media-block {
        img {
            border-radius: var(--media-border-radius);
            width: 97.41%;
        }

        .media-block__content {
            text-align: var(--floating-text-align);
            width: 97.41%;
            color: var(--color-input-text);
            position: absolute;
            top: 31%;
            font-size: var(--font-size);
            line-height: calc(var(--font-size) + 1.3625rem);
            font-weight: var(--font-weight);
            text-transform: var(--text-transform);

            u {
                text-underline-offset: 8px;
            }
        }
    }

    .media-with-content__content > .group-block-content {
        padding-inline-start: var(--page-margin) !important;
        padding-inline-end: 23px !important;
    }
}