@use "../base/base.scss" as *;

.media-with-content {
    --button-padding-block: 8.8px;

    .media-block {
        img {
            border-radius: var(--media-border-radius);
            width: $mbl-img-width-sm;
        }
    }

    .media-block__content {
        text-align: var(--floating-text-align);
        width: $mbl-content-width-sm;
        color: var(--color-primary);
        position: absolute;
        top: $mbl-content-top;
        font-weight: var(--font-weight);
        text-transform: var(--text-transform);

        & > * {
            font-size: var(--font-size);
            line-height: calc(var(--font-size) + 1.3625rem);
        }

        u {
            text-underline-offset: $mbl-content-u-offset-sm;
        }
    }

    .media-with-content__content > .group-block-content {
        padding-inline-start: var(--padding-inline-start);
        padding-inline-end: var(--padding-inline-end);

        @media screen and (max-width: 749px) {
            .button {
                flex: none;
            }
        }
    }
}

@media screen and (max-width: 749px) {
    .media-with-content {
        .media-with-content__content {
            & > .group-block-content {
                padding-block: var(--padding-block-start) var(--padding-block-end);
            }

            .group-block > .group-block-content:has(.image-block) {
                .image-block > img {
                    object-position: center center;
                }

                .text-block {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .media-with-content {
        --page-margin: 30px;
        --media-with-content-grid-columns: var(--full-page-grid-margin) calc((var(--full-page-grid-central-column-width) / 4) * 2 + 14.5px) calc(var(--full-page-grid-central-column-width) / 2 - 15.5px) var(--full-page-grid-margin) !important;

        .media-block {
            img {
                width: $mbl-img-width-lg;
                object-position: center 78%;
            }
        }

        .media-block__content {
            width: $mbl-content-width-lg;
            top: $mbl-content-top-lg;

            & > * {
                font-size: clamp(var(--font-size), 4vw, var(--font-size-desktop));
                line-height: clamp(#{calc(var(--font-size) + 1.3625rem)}, 6vw , #{calc(var(--font-size) + 2.6rem)});
            }

            u {
                text-underline-offset: $mbl-content-u-offset-lg;
            }
        }

        .media-with-content__content {
            padding-block: var(--padding-block-start-desktop) var(--padding-block-end-desktop);
            padding-inline: var(--padding-inline-start-desktop) var(--padding-inline-end-desktop);
            
            & > .group-block-content {
                gap: clamp(var(--gap), 8vw, var(--gap-desktop));

                & > .group-block:first-child {
                    .text-block:not(:has(p)) {
                        & > * {
                            font-size: clamp(var(--font-size), 4vw , var(--font-size-desktop));
                            line-height: clamp(var(--line-height), 6vw , var(--line-height-desktop));
                            margin-right: $mbl-text-margin-right;
                       }
                    }
                }

                & > .group-block:has(.layout-panel-flex) {
                    & > .layout-panel-flex {
                        gap: var(--gap-desktop);

                        .group-block--width-fill {
                            flex: 0;
                            flex-basis: 25.3%;
                        }
                    }
                }
            }
        }
    }   
}