@use '../base/base.scss' as *;

footer {
    .group-block:has(accordion-custom) {
        .menu__heading:has(.menu__heading__default) {
            font-size: $fs-14;
            line-height: $lh-17;
            font-weight: $font-bold;
            letter-spacing: $nav-heading-spacing;
            padding-block: $nav-heading-pd;
        }
    }
}

@media screen and (min-width: 750px) {
    footer {
        .group-block:has(accordion-custom) {
            -webkit-padding-before: 0;
                    padding-block-start: 0;
            max-width: $nav-footer-group-mw-lg;
            justify-self: flex-end;

            .group-block-content {
                gap: clamp(10px, 4vw, var(--gap-desktop));
            }

            accordion-custom.menu--accordion {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
            }

            .menu__details {
                .menu__heading:has(.menu__heading__default) {
                    letter-spacing: 0;
                    padding-block: $nav-heading-pd-lg;
                }

                nav.details-content { 
                    -webkit-margin-before: $nav-details-mt-lg; 
                            margin-block-start: $nav-details-mt-lg;

                    .menu__item + .menu__item {
                        -webkit-margin-before: $nav-details-gap-lg;
                                margin-block-start: $nav-details-gap-lg;
                    }
                }
            }
        }
    }
}