@use '../base/base.scss' as *;

.content-for-layout:has(.product-information__grid) .product-details {
    product-recommendations {
        .product-badges {
            display: none;
        }

        slideshow-container slideshow-arrows {
            display: none !important;
        }

        slideshow-slides {
            padding-block: $prdrec-slides-pbl;
            margin: 0;
        }

        product-card slideshow-slides {
            padding-block: $prdrec-card-slides-pbl;
            -webkit-padding-start: $prdrec-card-slides-pis;
                    padding-inline-start: $prdrec-card-slides-pis;
            margin-block: 0;
            scroll-padding-left: $prdrec-card-slides-spl;
        }

        slideshow-slide { 
            width: 100%;
        }

        .slideshow-controls__dots, product-swatches {
            display: none;
        }

        .card-gallery {
            & .quick-add__button {
                display: none;
            }

            &~ .shopify-block{
                grid-row: 2;

                .add-to-cart-button {
                    min-width: $prdrec-atc-min-w;
                    max-width: $prdrec-atc-max-w;
                    height: $prdrec-atc-h;
                    max-height: $prdrec-atc-max-h;
                    position: static;

                    .svg-wrapper svg {
                        width: $prdrec-atc-icon-w;
                        height: $prdrec-atc-icon-h;
                    }

                    .add-to-cart-icon {
                        justify-content: end;
                    }
                }

                .quick-add__button:is(:hover, :focus-visible) {
                    .add-to-cart-text__content {
                        display: none;
                    }
                }

                .add-to-cart-text {
                    width: 100%;
                }

                .quick-add__button--choose {
                    display: none;
                }
            }

            &~ .group-block { grid-column: 2; grid-row: 2; position: relative; top: 3px; }
        }

        .product-card__delivery, .swym-wishlist__container {
            display: none;
        }

        .shopify-product-form {
            justify-content: flex-end;
            align-items: center;
            margin-right: $prdrec-prd-form-mg-right;
        }

        .product-card__content {
            display: grid;
            grid-template-columns: $prdrec-content-cols;
            gap: $prdrec-card-gap;

            .card-gallery {
                grid-column: 1; grid-row: 1 / span 3;
                pointer-events: none;
            }
        }

        .svg-wrapper {
            @include display-flex();
        }

        .user-select-text .text-block>*, product-price>* {
            letter-spacing: 0.3px;
        }

        product-price {
            position: relative;
            top: $prdrec-price-top;
        }

        [data-quick-add-button='choose'] add-to-cart-component {
            @include display-flex();
        }

        .card-gallery:hover .quick-add__button--add {
            @include display-flex();
        }

        .resource-list__carousel {
            gap: var(--gap);
        }

        .product-recommendations__skeleton-item {
            transform: scaleY($prdrec-skeleton-scale-y);            
        }
    }

    .slideshow__counter--custom {
        @include display-flex();
        flex-direction: row;
        justify-content: space-between;

        .slideshow__counter--header {
            font-weight: $font-bold;
            font-size: $fs-16;
            line-height: $lh-20;
            letter-spacing: 0.2px;
        }

        .slideshow-control--custom {
            rotate: -90deg;
        }

        .slideshow-control--previous {
            scale: -1;
        }

        .slideshow-control--next {
            -webkit-margin-start: 0;
                    margin-inline-start: 0;
        }

        slideshow-controls {
            position: static;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }

        .slideshow__counter--content {
            @include display-flex();
            flex-direction: row;
            position: relative;
            top: $prdrec-counter-top;
            right: $prdrec-counter-right;
        }

        .slideshow-controls__counter {
            margin: 0;
            color: #000;
            background-color: #fff;
            font-weight: $font-normal;
            font-size: $fs-16;
            line-height: $lh-20;
            letter-spacing: 0;
            padding-inline: $prdrec-counter-pi;
            padding-block: $prdrec-counter-pbl;
            font-variant-numeric: lining-nums;
            font-feature-settings:
            "lnum" 1,
            "onum" 0,
            "ss01" 0,
            "ss02" 0;

            & > * {
                font-weight: $font-normal;
                font-size: $fs-16;
                line-height: $lh-20;
                letter-spacing: 0;
            }

            .slash {
                color: #000;
                padding: 0;
            }
        }
    }

    @media screen and (max-width: 749px) {
        .slideshow-controls__counter span[ref='current'] {
            -webkit-padding-end: 4px;
                    padding-inline-end: 4px;
        }
    }

    @media screen and (min-width: 750px) {        
        .slideshow__counter--custom .slideshow-controls__counter {
            padding-inline: $prdrec-counter-pi-lg;
            padding-block: $prdrec-counter-pbl-lg;

            .slash {
                padding: 0;
            }
        }

        product-recommendations {
            .spacing-style {
                padding-block: var(--padding-block-start-desktop) var(--padding-block-end-desktop);
                padding-inline: var(--padding-inline-start-desktop) var(--padding-inline-end-desktop);
                gap: var(--gap-desktop);
            }

            .resource-list__carousel {
                gap: var(--gap-desktop);

                & > slideshow-container {
                    -webkit-padding-end: $prdrec-cr-container-pie-lg;
                            padding-inline-end: $prdrec-cr-container-pie-lg;
                }
            }
             
            product-card slideshow-slides {
                padding-block: $prdrec-card-slides-pbl-lg;
                -webkit-padding-start: $prdrec-card-slides-pis-lg;
                        padding-inline-start: $prdrec-card-slides-pis-lg;
                scroll-padding-left: $prdrec-card-slides-spl-lg;
            }

            slideshow-slide {
                overflow: visible;
            }

            .quick-add__button {
                opacity: 1;
            }

            .product-card__content {
                grid-template-columns: $prdrec-content-cols-lg;
            }

            .shopify-product-form {
                margin-right: $prdrec-prd-form-mg-right-lg;
            }

            .product-grid__card .group-block > * {
                gap: var(--gap-desktop);
            }
        }
    }
}