@use '../base/base.scss' as *;

.announcement-bar:has(.announcement-bar__slider--scroll) {
  overflow: hidden;
}

.announcement-bar__slider--scroll {
  overflow: hidden !important;
  width: max-content;
  gap: $anm-slider-scroll-gap;
  display: flex;
  flex-direction: row;

    .announcement-bar__block {
        display: flex;
        gap: $anm-block-gap; 
        width: fit-content;
        max-width: none;
        animation: var(--infinite-scroll-direction) var(--infinite-scroll-time) linear infinite;
        will-change: transform;
        flex-wrap: nowrap;
        margin: $anm-block-mg;

        &:first-child {
          display: none;
        }

        &--item {
            position: static;

            .announcement-bar__text {
              line-height: $anm-bar-txt-lh;
            }
        }
    }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--infinite-scroll-gap)));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100% - var(--infinite-scroll-gap)));
  }
  to {
    transform: translateX(0);
  }
}