.announcement-bar:has(.announcement-bar__slider--scroll) {
  overflow: hidden;
}

.announcement-bar__slider--scroll {
  overflow: hidden !important;
  width: max-content;
  gap: var(--infinite-scroll-gap);
  display: flex;
  flex-direction: row;

    .announcement-bar__block {
        display: flex;
        gap: var(--infinite-scroll-gap); 
        width: fit-content;
        max-width: none;
        animation: var(--infinite-scroll-direction) var(--infinite-scroll-time) linear infinite;
        will-change: transform;
        flex-wrap: nowrap;
        margin: 0;

        &:first-child {
          display: none;
        }

        &--item {
            position: static;
        }
    }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--infinite-scroll-gap)));
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(calc(-100% - var(--infinite-scroll-gap)));
  }
  to {
    transform: translateX(0);
  }
}