@use '../base/base.scss' as *;

.breadcrumbs {
    font-size: $brc-fs;
    color: $brc-color;

    &__list {
        @include display-flex();
        flex-wrap: wrap;
        align-items: center;
        gap: $brc-list-gap;
        padding: $brc-list-pd;
        margin: 0;
        list-style: none;

        .breadcrumbs__item {
            display: inline-flex;
            align-items: center;
            text-transform: capitalize;
        }

        .breadcrumbs__link {
            color: inherit;
            text-decoration: none;
        }

        .breadcrumbs__separator {
            margin-inline: $brc-sep-mi;
            color: $brc-color;
            width: $brc-sep-size;
            height: $brc-sep-size;
            transform: rotate(-90deg);
        }
    }
}

@media screen and (min-width: 750px) {
    .breadcrumbs {
        display: grid;
        grid-template-columns: var(--full-page-grid-with-margins);

        &__list {
            padding-top: $brc-list-pt-lg;
        }
    }
}