@use '../base/base.scss' as *;

.section-carousel {
    .carousel-content__custom:has(slideshow-component) {
        slideshow-slides {
            --peek-next-slide-size: 0.3rem !important;

            .card {
                .card__inner {
                    .image-block {
                        aspect-ratio: 0.667666 !important;
                    }
                }

                .text-block {
                    position: absolute;
                    bottom: 3.5%;
                    left: 6%;

                    & > * {
                        color: #fff;
                        font-weight: 700;
                        line-height: calc(var(--font-size) + 3px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .section-carousel:has(.carousel-content__custom) {
        --page-margin: 50px !important;
        padding-block-start: max(10px, calc(var(--padding-block-start) + 44px ));
        row-gap: calc(var(--gap) + 15px);

        :is(slideshow-component:hover, slideshow-component:focus-within):not(:has(slideshow-controls:hover)) > slideshow-container > slideshow-arrows .slideshow-control {
            animation: none;
        }

        .group-block:first-child {
            .text-block {

                & > * {
                    font-size: calc(var(--font-size) - 2px);
                    line-height: var(--font-size);
                    letter-spacing: 0;
                }
            }
        }

        .carousel-content__custom {
            slideshow-container {
                slideshow-arrows {
                    width: fit-content;
                    height: fit-content;
                    justify-content: right;
                    padding-inline: 0;
                    top: -56px;
                    justify-self: flex-end;
                    right: 40px;
                }

                .slideshow-control{
                    opacity: 1;
                    mix-blend-mode: normal;
                    animation: none;
                    padding: 0 3.5px;

                    &[disabled] {
                        display: block;
                        opacity: 0.5;
                    }
                }

                .slideshow-control--next {
                    margin-inline-start: 0;
                }

                slideshow-slides {
                    --peek-next-slide-size: 0.5rem !important;
                    gap: calc(var(--slideshow-gap) + 4px);

                    .card {
                        .card__inner {
                            .text-block {
                                bottom: 3.2%;
                                left: 4.6%;

                                & > * {
                                    font-size: clamp(var(--font-size), 3vw ,#{calc(var(--font-size) + 18px)});
                                    line-height: clamp(#{calc(var(--font-size) + 3px)}, 3.1vw ,#{calc(var(--font-size) + 20px)});
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
                }
            }

            slideshow-component[dragging] {
                slideshow-arrows {
                    display: flex;
                }
            }
        }
    }
}