@use '../base/base.scss' as *;

main.content-for-layout:has(.breadcrumbs):has(.product-grid-container) {
    slideshow-slide {
        .collection-card__content {
            padding: $cph-ccard-pd-sm;
        }
    }
}

main.content-for-layout:has(.search-page-input__parent) {
    .facets-toggle {
        margin: $cph-facets-mg;
    }
}

@media screen and (max-width: 749px) {
    main.content-for-layout:has(.breadcrumbs):has(.product-grid-container) {
        .section-resource-list {
            slideshow-arrows {
                .slideshow-control {
                    display: none;
                }
            }
            
            slideshow-slide {
                aspect-ratio: 168 / 251.61;
            }
        }
    }    
}

@media screen and (min-width: 750px) {
    main.content-for-layout:has(.breadcrumbs):has(.product-grid-container) {
        --page-margin: 50px;

        .custom-section-content {
            .layout-panel-flex {
                -webkit-padding-before: var(--padding-block-start-desktop);
                        padding-block-start: var(--padding-block-start-desktop);
                -webkit-padding-after: var(--padding-block-end-desktop);
                        padding-block-end: var(--padding-block-end-desktop);
            }
        }

        .resource-list__carousel {
            --peek-next-slide-size: 1.87rem;

            .slideshow-control {
                padding: $cph-sls-control-pd;
                border-radius: $cph-sls-control-radius;
            }

            slideshow-slides {
                gap: var(--gap-desktop);
            }

            slideshow-slide {
                aspect-ratio: 215 / 322;

                .collection-card__content {
                    padding: $cph-rscarousel-content-pd;
                }
            }
        }
    }
}