@use '../base/base.scss' as *;

.section-carousel {
    .carousel-content__custom:has(slideshow-component) {
        slideshow-slides {
            --peek-next-slide-size: 0.3rem;

            .card {
                .card__inner {
                    .image-block {
                        aspect-ratio: $clt-card-aspect-ratio;
                    }
                }

                .text-block {
                    position: absolute;
                    bottom: $clt-card-text-bottom-sm;
                    left: $clt-card-text-left-sm;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .section-carousel:has(.carousel-content__custom) {
        --page-margin: 50px;
        padding-block-start: var(--padding-block-start-desktop);
        row-gap: var(--gap-desktop);

        :is(slideshow-component:hover, slideshow-component:focus-within):not(:has(slideshow-controls:hover)) > slideshow-container > slideshow-arrows .slideshow-control {
            animation: none;
        }

        .carousel-content__custom {
            slideshow-container {
                slideshow-arrows {
                    width: fit-content;
                    height: fit-content;
                    justify-content: right;
                    padding-inline: 0;
                    top: $clt-arrows-top;
                    justify-self: flex-end;
                    right: $clt-arrows-right;
                }

                .slideshow-control{
                    opacity: 1;
                    mix-blend-mode: normal;
                    animation: none;
                    padding: $clt-slshow-pd;

                    &[disabled] {
                        display: block;
                        opacity: 0.5;
                    }
                }

                .slideshow-control--next {
                    margin-inline-start: 0;
                }

                slideshow-slides {
                    --peek-next-slide-size: 0.5rem;
                    gap: var(--carousel-gap-desktop);

                    .card {
                        .card__inner {
                            .text-block {
                                bottom: $clt-card-text-bottom-lg;
                                left: $clt-card-text-left-lg;
                            }
                        }
                    }
                }
            }

            slideshow-component[dragging] {
                slideshow-arrows {
                    @include display-flex();
                }
            }
        }
    }
}