@use '../base/base.scss' as *;

.footer-utilities {
    .group-block:has(dropdown-localization-component) {
        .dropdown-localization {
            .dropdown-localization__button, .localization-form__select {
                font-size: $fs-14;
                line-height: $lh-18;
                letter-spacing: 0;
                background-color: var(--color-background);
                padding-block: 0;
                -webkit-padding-start: 0;
                        padding-inline-start: 0;
            }

            .dropdown-localization__button {
                gap: $fut-gap-sm;
                -webkit-padding-end: 0;
                        padding-inline-end: 0;
            }

            .localization-form__select {
                -webkit-padding-end: $fut-form-slct-pie;
                        padding-inline-end: $fut-form-slct-pie;
            }

            .language-selector {
                padding-block: 0;
                -webkit-padding-start: 0;
                        padding-inline-start: 0;
            }
        }

        dropdown-localization-component .localization-wrapper {
            top: calc(100% + -175px);
        }
    }

    .payment-icons {
        .icon.icon--full-color {
            width: $fut-payment-icon-w;
            height: $fut-payment-icon-h;
        }
    }

    .footer-utilities__group-copyright {
        line-height: $lh-18;
        letter-spacing: $fut-copyright-letter-spacing;
        color: rgb(var(--color-foreground-rgb));

        a {
            color: rgb(var(--color-foreground-rgb));
        }
    }
}

@media screen and (min-width: 750px) {
    .footer-utilities {
        .utilities {
            padding-block: var(--padding-block-start-desktop) var(--padding-block-end-desktop);
            grid-template-columns: auto auto 1fr;
            gap: var(--gap-desktop);

            .group-block:has(dropdown-localization-component) {
                .group-block-content {                    
                    .dropdown-localization__button, .localization-form__select {
                        font-size: $fs-14;
                        line-height: $lh-18;
                    }
                }
            }

            .payment-icons {
                .payment-icons__list {
                    justify-content: flex-end;
                    -webkit-margin-end: $fut-payment-margin-adjust;
                            margin-inline-end: $fut-payment-margin-adjust;
                }
            }

            .footer-utilities__group-copyright {
                letter-spacing: $fut-copyright-letter-spacing-lg;
                grid-row-end: none;
            }
        }
    }
}