@use '../base/base.scss' as *;

header-component {
    .search-action {
        justify-content: center;
    }

    #swym-advanced-header-icon {
        margin-inline-start: -52px;
        margin-inline-end: 25px;

        .swym-header-icon-count-bubble > .swym-header-icon-count {
            transform: scale(0.7);
        }
        
        svg {
            width: 20px;
            height: 20px;
            opacity: 0.6;
        }
    }

    .header__column--right header-actions {
        gap: 6px;
        margin-inline-start: -40px !important;

        shopify-account {
            --shopify-account-avatar-size: 28px;
        }

        cart-drawer-component.cart-drawer {
            width: 33px;

            .header-actions__action {
                @include cart-drawer;
            }
        }
    }
}

@media screen and (max-width: 749px) {
    #swym-advanced-header-icon.swym-advanced-header-icon.swym-header-icon-wrapper {
        display: none !important;
    }   
}

@media screen and (min-width: 750px) {
    header-component {
        .section--page-width {
            --page-margin: 20px;
        }

        .header__row--top {
            .header__columns {
                --padding-block-start: var(--padding-xs) !important;
                --padding-block-end: 9px !important;
            }

            .header__column--right {
                .search-action {
                    margin-inline: 43px;
                }

                header-actions {
                    margin-inline-end: 7px;
                }
            }
        }

        .header__row--bottom {
            position: absolute;
            top: 24%;
            pointer-events: none;

            .header__column--center {
                pointer-events: auto;
            }

            .menu-list__link {
                @include caret-rotate;
                .menu-list__caret {
                    transition: transform 0.4s ease;
                }
            }

            .menu-list__link-title {
                padding-inline: calc(var(--gap-lg) / 2);
            
                &:has(.menu-list__caret) {
                    display: inline-flex;
                    gap: 1px;
                    padding-right: 5px;

                    .menu-list__caret {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        dropdown-localization-component.dropdown-localization {
            display: none !important;
        }

        .header__row[style*='--border-bottom-width: 0px'] {
            .menu-list__submenu.color-scheme-matches-parent,
            .overflow-menu.color-scheme-matches-parent::part(overflow) {
                --submenu-padding-block-start: 15px !important;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .section--page-width {
        --page-margin: 50px !important;
    }
}