@use '../base/base.scss' as *;

.section:has(.icon-block__custom) {
    .group-block {
        .icon-block {
            border: $ict-icon-border;
            width: $ict-icon-size-sm;
            height: $ict-icon-size-sm;
            justify-content: center;
        }

        .group-block {
            .group-block-content {
                .text-block:not(:first-child) > * {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 749px) {
    .section:has(.icon-block__custom) {
        .group-block {
            .icon-block {
                align-self: flex-start;
            }


            & > .group-block-content {
                flex-direction: row;

                .group-block {
                    .group-block-content {
                        flex-direction: column;
                        
                        .text-block {
                            & > * {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .section:has(.icon-block__custom) {
        --page-margin: 50px;

        .section-content-wrapper {
            -webkit-padding-before: var(--padding-block-start-desktop);
                    padding-block-start: var(--padding-block-start-desktop);
            -webkit-padding-after: var(--padding-block-end-desktop);
                    padding-block-end: var(--padding-block-end-desktop);
            gap: var(--gap-desktop);
            align-items: flex-start;

            .group-block {
                .icon-block {
                    width: $ict-icon-size-lg;
                    height: $ict-icon-size-lg;

                    img {
                        width: var(--width-desktop) !important;
                    }
                }
            }
        }
    }
}