@use '../base/base.scss' as *;

.content-for-layout:has(.product-information__grid) {
    .shopify-section > product-recommendations, .recent-views__products {
        .slideshow-controls__counter {
            display: none;
        }

        .resource-list__carousel .resource-list__slide {
            width: $prl-carousel-w;
        }

        .card-gallery slideshow-slides {
            margin-block: 0;
            padding-block: 0;
        }

        .variant-option--swatches overflow-list::part(list) {
            padding-block: $prl-swatches-pbl;
        }

        @media screen and (min-width: 750px) {
            .resource-list{
                --resource-list-column-gap-desktop: 10px;
            }
        }
    }
}