@use '../base/base.scss' as *;

.content-for-layout:has(.product-information__grid) {
    .media-with-content {
        .media-block > .swym-atw-btn-wrapper-for-img {
            display: none;
        }

        img {
            width: 100%;
            -o-object-position: top !important;
               object-position: top !important;
        }

        accordion-custom {
            .svg-wrapper.icon-plus {
                width: $pd-icplus-size;
                height: $pd-icplus-size;
            }
        }

        &:not(:has(.media-block__content > *, .accordion__custom > *)) {
            display: none;
        }
    }

    .accordion__custom {
        accordion-custom:not(:last-child) .details {
            -webkit-border-after: none;
                    border-block-end: none;
        }

        accordion-custom .details__header {
            -webkit-border-after: var(--style-border-width) solid var(--color-border);
                    border-block-end: var(--style-border-width) solid var(--color-border);
            padding-block: $pd-accordion-pd;
        }
        
        .text-block p {
            margin-block: $pd-text-margin;
        }
    }

    @media screen and (max-width: 749px) {
        .media-with-content {
            &:has(.accordion__custom) {
                --page-margin: 14px !important
            }
        }
    }

    @media screen and (min-width: 750px) {
        .media-with-content {
            -webkit-padding-before: var(--padding-block-start-desktop);
                    padding-block-start: var(--padding-block-start-desktop);
            -webkit-padding-after: var(--padding-block-end-desktop);
                    padding-block-end: var(--padding-block-end-desktop);
        }

        .accordion__custom .text-block p {
            margin-block: $pd-ac-text-mbl-lg;
        }

        .media-block {
            -webkit-padding-end: $pd-media-block-pie-lg;
                    padding-inline-end: $pd-media-block-pie-lg;
        }

        .media-block__media {
            position: static;
        }

        .text-block:has(+.accordion__custom) p {
            font-size: var(--font-size);
        }

        .media-with-content .media-with-content__content > .group-block-content {
            -webkit-padding-start: 0;
                    padding-inline-start: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        .media-with-content__content>.group-block-content {
            gap: var(--gap-desktop);
        }
    }
}