@use '../base/base.scss' as *;

.content-for-layout:has(.product-information__grid) {
    .product-information__media {
        slideshow-controls.media-gallery__mobile-controls {
            @include display-flex();
            position: relative;
            top: 0;

            @include slideshow-controls-dots;
        }

        .slideshow-controls__dots {
            padding-block: $pdpa-dots-pbl;
            gap: $pdpa-dots-gap;

            & .button[aria-selected='true'] {
                margin: 0;
            }
        }
    }

    .product-details {
        .text-block > * {
            line-height: calc(var(--font-size) + 0.1875rem);
        }

        .loox-rating .loox-rating-content {
            gap: $pdpa-rating-gap;
        }

        .loox-rating-label {
            padding-inline-start: $pdpa-rating-label-pie;
        }

        .quantity-selector, .add-to-cart-button {
            max-height: $pdpa-quantity-max-h;
            border-radius: $pdpa-radius;
        }

        .product-form-buttons .add-to-cart-button{
            text-transform: uppercase;
            
            .svg-wrapper {
                display: none;
            }
        }

        .icon-block ~ .text-block>* {
            text-transform: math-auto;
            text-align: left;
        }

        .product-form-buttons {
            &:has(.add-to-cart-button.button-secondary) .quantity-selector {
                @include quantity-selector;
            }

            &:not(:has(.quantity-rules)) {
                gap: $pdpa-buttons-gap;
            }
        }

        .text__installment--1 > *, .text__installment--2 > * {
            letter-spacing: 0.1px;
            color: #8F9293;
            font-weight: $font-bold;
        }

        .text__installment--2 > * {
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    .product-information .product-card__delivery {
        font-weight: $font-bold;
        font-size: $fs-14;
        line-height: $lh-17;
        letter-spacing: 0.15px;
        color: $pdpa-delivery-color;
    }

    .swym-atw-button-container.product_image_top_right:not(:has(.atw-button-added)) svg > * {
        fill: $swym-fill-color;
    }

    @media screen and (max-width: 749px) {
        .breadcrumbs {
            font-size: $pdpa-breadcrumb-font-sm;
        }

        .breadcrumbs__list {
            padding: $pdpa-bclist-pd;
        }

        .product-information__media {
            slideshow-slides {
                aspect-ratio: 375 / 469;
                border-radius: $pdpa-radius;
            }

            .swym-atw-button-container.product_image_top_right {
                top: 0;
                right: 2px;
            }
        }
    }

    @media screen and (min-width: 750px) {
        .product-information {
            padding-block-end: calc(var(--padding-block-end) * 0.54);
        }

        .breadcrumbs__list {
            padding-block: $pdpa-bclist-pbl-lg ;
        }

        .slideshow-controls__thumbnails {
            padding-inline-start: 0;
            padding-inline-end: $pdpa-thumb-pie-lg;
            gap: $pdpa-thumb-gap-lg;

            .slideshow-control {
                width: $pdpa-controls-thumb-w-lg;
            }
        }

        .slideshow-controls__thumbnail {
            --aspect-ratio: 0.80625 !important;
        }

        .media-gallery--carousel {
            slideshow-arrows {
                display: none;
            }
        }

        .product-information--media-left .product-details {
            --gap: 79px !important;
            padding-right: $pdpa-details-pd-right-lg;
        }

        .product-information__media {
            padding-right: $pdpa-media-pd-right-lg !important;
        }

        .product-details > .group-block {
            padding-block-start: 0;
        }

        .product-details:not(product-recommendation) {
            .text-block:not(:has(p)) > * {
                font-size: calc(var(--font-size) + 5px);
                line-height: calc(var(--font-size) + 7px);
            }

            .text-block:not(:has(p)) ~ .text-block p {
                max-width: 100%;
            }
        }

        .shopify-app-block[data-block-handle='loox-rating'] {
            padding-block: $pdpa-loox-rating-pbl-lg;
        }
        
        .product-card__delivery {
            padding-block-end: $pdpa-delivery-pie-lg;
        }

        .buy-buttons-block {
            padding-block: $pdpa-buy-btn-pbl-lg;
        }

        .swym-atw-button-container.product_image_top_right {
            top: $pdpa-swym-btn-lg;
            right: $pdpa-swym-btn-lg;
        }
    }

    @media screen and (min-width: 1200px) {
        .product-information__grid--half {
            grid-template-columns: var(--full-page-grid-margin) calc(var(--full-page-grid-central-column-width) / 2 +  10.3vw) calc(var(--full-page-grid-central-column-width) / 2 - 10.2vw) var(--full-page-grid-margin) !important;
        }
    }
}