@use "../base/base.scss" as *;

.content-for-layout:has(.product-information__grid) {
    .recent-views__products {
        .recent-views__clear  {
            display: none;
        }

        .recent-views__title {
            --font-size: 32px;
            font-size: var(--font-size);
            font-weight: $font-normal;
            letter-spacing: 0;
            margin-block: 0 $recent-title-mble;
            @include product-carousel-title;
        }
    }

    product-card:not(:has(.variant-option)) {
        height: auto
    }
}