@use '../base/base.scss' as *;

slideshow-component.slideshow--with-hints.slideshow--with-hints--mobile-full-frame {
    .group-block-content{
        --gap: 16px !important;

        .text-block:has(p) {
            --line-height: calc(var(--font-size) + 4px) !important;
        }

        .text-block:not(:has(p)) {
            --font-size: var(--custom-font-size) !important;
            --line-height: calc(var(--custom-font-size) + 2px) !important;
        }

        a.button {
            border-radius: $sld-btn-radius;
            text-transform: uppercase;
            max-width: $sld-btn-max-w;
            --button-padding-block: 8.8px;
        }
    }

    @media screen and (min-width: 750px) {
        slideshow-slide {
            width: $sld-slide-w !important;

            .slide__image {
                height: 100%;
            }

            &:nth-child(even) {
                .slide__image {
                    height: $sld-slide-even-img-h;
                }
            }
        }
        
        slideshow-controls {
            .slideshow-controls__dots {
                padding: $sld-dots-pb;
            }
        }
    }
}