@use '../base/base.scss' as *;

slideshow-component.slideshow--with-hints.slideshow--with-hints--mobile-full-frame {
    overflow-x: hidden;

    .group-block-content{
        a.button {
            border-radius: $sld-btn-radius;
            text-transform: uppercase;
            max-width: $sld-btn-max-w;
            font-size: var(--font-size);
            line-height: var(--line-height);
            --button-padding-block: 11px;
        }
    }

    @media screen and (min-width: 750px) {
        slideshow-slide {
            width: $sld-slide-w;

            .slide__image {
                height: 100%;
            }

            &:nth-child(even) {
                .slide__image {
                    height: $sld-slide-even-img-h;
                }
            }
        }
        
        slideshow-controls {
            .slideshow-controls__dots {
                padding: $sld-dots-pb;
            }
        }
    }
}

slideshow-arrows .slideshow-control.slideshow-control--shape-square {
    border-radius: var(--navigation-radius);
    padding: 0 var(--navigation-padding);

    @media screen and (max-width: 749px) {
        display: none;
    }
}