@use '../base/base.scss' as *;

.sticky-add-to-cart {
    .sticky-add-to-cart__bar {
        gap: $stcart-bar-gap;
        padding: $stcart-bar-pd;
    }

    .add-to-cart-icon {
        display: none;
    }

    .variant-option__select-wrapper {
        margin-top: 0;
        max-height: $stcart-option-wrapper-max-h;
        border-radius: $stcart-radius;

        &:hover {
            border-color: var(--color-border);
        }
    }

    .variant-option__select {
        padding-block: $stcart-option-pbl;
        font-weight: 700;
        font-size: $fs-14;
        line-height: $lh-17;
        letter-spacing: 0;
        max-width: $stcart-option-max-w;

        &:focus-visible {
            outline: none;
            outline-offset: 0;
        }
    }

    .sticky-add-to-cart__button, .variant-picker {
        width: 100%;
        border-radius: $stcart-radius;
        max-height: $stcart-picker-max-h;
    }

    .add-to-cart-text__content > * {
        font-weight: 400;
        font-size: $fs-14;
        line-height: $lh-18;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
    }

    .variant-option__select-wrapper .icon {
        right: $stcart-icon-right;
        width: $stcart-icon-w;
    }

    .variant-option > label {
        display: none;
    }

    .quantity-selector {
        max-height: $stcart-quantity-max-h;
        max-width: $stcart-quantity-max-w;
        padding-inline: $stcart-quantity-pi;
        border-radius: $stcart-radius;

        &> input {
            max-width: $stcart-quantity-input-max-w;
        }
    }

    .product-bundle {
        display: none;
    }

    @media screen and (max-width: 749px) {
        .sticky__quantity-selector, .sticky-add-to-cart__image, .sticky-add-to-cart__info {
            display: none;
        }

        .sticky-add-to-cart__bar .add-to-cart-text__content {
            display: flex;
        }

        .sticky__variant-picker {
            width: $stcart-picker-w-sm;
        }
    }

    @media screen and (min-width: 750px) {
        .sticky-add-to-cart__bar {
            padding: $stcart-bar-pd-lg;
        }

        .sticky-add-to-cart__bar {
            bottom: 0;
            width: 100%;
            max-width: none;
            border-radius: 0;
        }

        .sticky-add-to-cart__info {
            padding-inline-start: $stcart-info-pis-lg;
            margin-top: $stcart-info-mt-lg;
        }

        .sticky-add-to-cart__button {
            max-width: $stcart-btn-max-w-lg;
        }

        .sticky-add-to-cart__image {
            height: $stcart-img-h-lg;
            aspect-ratio: $stcart-img-ratio-lg;
        }

        .sticky-add-to-cart__title, .price {
            font-weight: 400;
            font-size: $fs-16;
            line-height: $lh-20;
            letter-spacing: 0;
        }
        
        .sticky__variant-picker {
            width: $stcart-picker-w-lg;
            max-width: $stcart-picker-max-w-lg;
        }
    }
}